<div class="main-content">
    <div class="container-fluid">
        <!-- <p>yk-speech-setting works!</p> -->
        <div class="row">
            <div style="width: 3%;">-</div>
            <!-- card1 -->
            <div class="card col-md-5">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">陌生私信</h4>
                </div>
                <div class="card-body">
                    <mat-form-field class="example-full-width">
                        <textarea matInput rows="10" placeholder="xxx"></textarea>
                    </mat-form-field>
                    <mat-form-field class=" col-md-5"  pull-right>
                        <mat-label>随机表情</mat-label>
                        <mat-select aria-placeholder="asd">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div style="width: 3%;">-</div>
            <!-- card2 -->
            <div class="card col-md-5">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">回复私信</h4>
                </div>
                <div class="card-body">
                    <mat-form-field class="example-full-width">
                        <textarea matInput rows="10" placeholder="xxx"></textarea>
                    </mat-form-field>
                    <mat-form-field class=" col-md-5"  pull-right>
                        <mat-label>随机表情</mat-label>
                        <mat-select aria-placeholder="asd">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div style="width: 3%;">-</div>
            <!-- card3 -->
            <div class="card col-md-5">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">作品评论</h4>
                </div>
                <div class="card-body">
                    <mat-form-field class="example-full-width">
                        <textarea matInput rows="10" placeholder="xxx"></textarea>
                    </mat-form-field>
                    <mat-form-field class=" col-md-5"  pull-right>
                        <mat-label>随机表情</mat-label>
                        <mat-select aria-placeholder="asd">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div style="width: 3%;">-</div>
            <!-- card4 -->
            <div class="card col-md-5">
                <div class="card-header card-header-danger">
                    <h4 class="card-title">粉丝私信</h4>
                </div>
                <div class="card-body">
                    <mat-form-field class="example-full-width">
                        <textarea matInput rows="10" placeholder="xxx"></textarea>
                    </mat-form-field>
                    <mat-form-field class=" col-md-5"  pull-right>
                        <mat-label>随机表情</mat-label>
                        <mat-select aria-placeholder="asd">
                            <mat-option>None</mat-option>
                            <mat-option value="option1">Option 1</mat-option>
                            <mat-option value="option2">Option 2</mat-option>
                            <mat-option value="option3">Option 3</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
</div>